<!doctype html>
<html>
	<head>
		<title>A-nieuws</title>
		<link rel="stylesheet" type="text/css" href="/css/reset.css">
		<link rel="stylesheet" type="text/css" href="/css/styles.css">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	</head>


	<header><a href="/">
              <img class= "logo" src="https://www.antwerpen.be/assets/aOS/gfx/gui/a-logo.svg" alt="logo"</img>
			<h1>A-nieuws</h1>
			<p>Hét nieuws van 't stad</p>
		</a>
	</header>


	<body>
